* {
    margin: 0;
    padding: 0;
}

/* header */
header {
    position: fixed;
    background-color: #333333;
    width: 100%;
}

.header-a-links {
    display: inline-block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
    font-weight: bolder;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

/* main */
.sub-container {
    align-items: center;
    align-self: center;
    justify-content: center;
    display: grid;
}

.container {
    align-items: center;
    align-self: center;
    justify-content: center;
    display: grid;
}

.i-know {
    display: inline-block;
    margin: 5vh 2vw;
    background-color: #444444;
    border-radius: 10px;
    height: 5vw;
    width: 12vw;
}

.i-know-h6 {
    font-size: 0.5vw;
    margin-top: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    color: white;
}

.i-know-h2 {
    font-size: 1.5vw;
    margin-top: 0.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    color: white;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: left;
}

.footer-links {
    justify-content: left;
    display: grid;
}

.footer-name {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    font-weight: bolder;
    font-size: 2vw;
    color: white;
}

.footer-a-links {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    font-weight: bolder;
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}

.developed-by {
    font-size: 1.3vw;
    font-weight: bolder;
    margin: 1vh;
}